@import '@/styles/colors.module.scss';

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: -4vh;
  width: fit-content;
  background: $white;
  border-radius: 15px;
  gap: 3rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  & div {
    &:nth-child(1) input {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-of-type button {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  @media (max-width: 640px) {
    margin-top: -20vh;
    width: 80%;
    padding: 20px;
  }
}

.form {
  display: flex;
  @media (max-width: 640px) {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
}

.submitButton {
  padding: 10px 12px;
  background-color: $primary-color;
  color: $white;
  border: 1px solid $midnight-green;
  height: 100%;
}

