@import '@/styles/colors.module.scss';

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  margin-top: -8vh;
  width: fit-content;
  background: $white;
  position: absolute;
  border-radius: 15px;
  gap: 3rem;
}

.form {
  display: flex;
}

.submitButton {
  padding: 10px 12px;
  background-color: $primary-color;
  color: $white;
  border: 1px solid $midnight-green;
  height: 100%;
}