@import '@/styles/colors.module.scss';

.textField {
  padding: 10px 8px;
  border: 1px solid $midnight-green;
  width: 100%;
  position: relative;
}

.error {
  border-color: $error;
}

.title {
  top: 0;
  margin-left: 10px;
  position: absolute;
  z-index: 10;
  background: $white;
  padding: 0 5px;
}