@import '@/styles/colors.module.scss';

.textField {
  padding: 10px 8px;
  border: 1px solid $midnight-green;
  width: 100%;
  @media (max-width: 640px) {
    width: 100% !important;
  }
}

.error {
  border-color: $error;
}

.title {
  top: -10px;
  left: 10px;
  position: absolute;
  z-index: 10;
  background: $white;
  padding: 0 5px;
  @media (max-width: 640px) {
    left: 0;
  }
}

.textFieldContainer{
  position: relative;
  @media (max-width: 640px) {
    width: 100%;
  }
}